a:hover:after {
  content: url(../Logo/Logo.jsx);
  display: block;
}
a:after {
  display:block;
  content: '';
  border-bottom: solid 3px black;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}